/* add your own styles here */

.box {
    width: 200px;
    height: 200px;
    background: rgb(7,255,64);
    background: linear-gradient(0deg, rgba(7,255,64,1) 0%, rgba(0,255,235,1) 100%, rgba(0,173,238,1) 100%);

    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}